[submodule "ROS_ws/src/driver/zed-ros-wrapper"]
	path = ROS_ws/src/driver/zed-ros-wrapper
	url = https://github.com/SafeRoboticsLab/zed-ros-wrapper.git
[submodule "ROS_Core/py_ws/src/Utility/PrincetonRaceCar_Interface"]
	path = ROS_Core/src/Utility/Interface
	url = https://github.com/SafeRoboticsLab/PrincetonRaceCar_Interface.git
[submodule "ROS_Core/py_ws/src/Utility/Custom_Msgs"]
	path = ROS_Core/src/Utility/Custom_Msgs
	url = https://github.com/SafeRoboticsLab/PrincetonRaceCar_msgs.git
[submodule "ROS_Core/src/Utility/PrincetonRaceCar_routing"]
	path = ROS_Core/src/Utility/Routing
	url = https://github.com/SafeRoboticsLab/PrincetonRaceCar_routing.git
[submodule "ROS_Core/src/Utility/AprilTagSLAM_ROS"]
	path = ROS_Core/src/Utility/AprilTagSLAM_ROS
	url = https://github.com/SafeRoboticsLab/AprilTagSLAM_ROS.git
