#!/usr/bin/env python
PACKAGE = "final_project"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("latency",  double_t,    0, "Latency compensation for control", 0.25, -1, 1)

exit(gen.generate("final_project", "final_project", "planner"))